body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2f2f2f; /* Dunkelgrauer Hintergrund */
    color: #ffffff; /* Weißer Text */
    direction: ltr; /* Standard-Lesereihenfolge */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333333; /* Dunkler Hintergrund für Header */
}

.logo img {
    height: 50px;
}

.global-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.global-nav li {
    margin: 0 10px;
}

.global-nav a {
    color: #ffffff;
    text-decoration: none;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.language-switch {
    margin-left: 20px;
}

.local-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333333; /* Hintergrundfarbe des Menüs */
    padding: 10px;
    border-right: 1px solid #444444; /* Trennlinie */
    width: 200px;
}

.local-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.local-menu li {
    margin: 10px 0;
}

.local-menu a {
    color: #ffffff;
    text-decoration: none;
}

.welcome {
    text-align: center;
    margin: 20px 0;
}

#welcomeText, #tableTitle, #filterLabel, #footerText {
    margin: 0;
}

main {
    padding: 0 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ffffff;
}

th, td {
    padding: 10px;
    text-align: left;
}

tfoot {
    background-color: #333333; /* Hintergrundfarbe des Fußbereichs */
    color: #ffffff;
}

footer {
    background-color: #333333; /* Hintergrundfarbe des Fußbereichs */
    padding: 10px;
    text-align: center;
    color: #ffffff;
}
